{
  "openapi": "3.1.0",
  "info": {
    "title": "Polysimulator API",
    "summary": "HFT-style paper-trading API for Polymarket simulation.",
    "description": "PolySimulator HFT API v1 \u2014 Virtual trading environment for Polymarket prediction markets. Practice trading with real market data using paper money, then switch to live trading by changing only your API credentials.",
    "termsOfService": "https://polysimulator.com/legal/terms",
    "contact": {
      "name": "PolySimulator",
      "url": "https://polysimulator.com"
    },
    "license": {
      "name": "Proprietary \u2014 usage subject to Polysimulator Terms of Service",
      "url": "https://polysimulator.com/legal/terms"
    },
    "version": "1.0.0-beta"
  },
  "servers": [
    {
      "url": "https://api.polysimulator.com",
      "description": "Production"
    },
    {
      "url": "https://staging-api.polysimulator.com",
      "description": "Staging"
    }
  ],
  "components": {
    "schemas": {
      "ApiError": {
        "properties": {
          "error": {
            "type": "string",
            "title": "Error",
            "description": "Stable machine-readable error code; also returned in X-Polysim-Code."
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Message",
            "description": "Human-readable error description. Never branch on this value."
          },
          "details": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Details",
            "description": "Additional context populated for verbose responses."
          },
          "request_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Request Id",
            "description": "Support correlation id; always returned in X-Request-Id."
          }
        },
        "type": "object",
        "required": [
          "error"
        ],
        "title": "ApiError",
        "description": "Structured error response for all API v1 endpoints.\n\n``error`` is the stable machine-readable code and ``message`` is human\nprose. SDK consumers must branch on ``error`` (or the identical\n``X-Polysim-Code`` header), never on ``message``. Diagnostic ``details``\nand the in-body ``request_id`` are added only when callers opt in with\n``X-Polysim-Verbose: true``; ``X-Request-Id`` is always present."
      },
      "ApiFootballInjury": {
        "properties": {
          "player_name": {
            "type": "string",
            "title": "Player Name"
          },
          "team": {
            "type": "string",
            "title": "Team"
          },
          "reason": {
            "type": "string",
            "title": "Reason"
          },
          "type": {
            "type": "string",
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "player_name",
          "team",
          "reason",
          "type"
        ],
        "title": "ApiFootballInjury"
      },
      "ApiFootballLineups": {
        "properties": {
          "home": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ApiFootballSide"
              },
              {
                "type": "null"
              }
            ]
          },
          "away": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ApiFootballSide"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "title": "ApiFootballLineups"
      },
      "ApiFootballPlayer": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "number": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Number"
          },
          "position": {
            "type": "string",
            "title": "Position"
          },
          "grid": {
            "type": "string",
            "title": "Grid"
          }
        },
        "type": "object",
        "required": [
          "name",
          "position",
          "grid"
        ],
        "title": "ApiFootballPlayer"
      },
      "ApiFootballSide": {
        "properties": {
          "team": {
            "type": "string",
            "title": "Team"
          },
          "coach": {
            "type": "string",
            "title": "Coach"
          },
          "formation": {
            "type": "string",
            "title": "Formation"
          },
          "players": {
            "items": {
              "$ref": "#/components/schemas/ApiFootballPlayer"
            },
            "type": "array",
            "title": "Players"
          }
        },
        "type": "object",
        "required": [
          "team",
          "coach",
          "formation",
          "players"
        ],
        "title": "ApiFootballSide"
      },
      "ApiKeyInfo": {
        "properties": {
          "id": {
            "type": "integer",
            "title": "Id"
          },
          "key_prefix": {
            "type": "string",
            "title": "Key Prefix"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "rate_limit_tier": {
            "type": "string",
            "title": "Rate Limit Tier"
          },
          "permissions": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Permissions"
          },
          "is_active": {
            "type": "boolean",
            "title": "Is Active"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "last_used_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Used At"
          },
          "expires_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "key_prefix",
          "rate_limit_tier",
          "is_active"
        ],
        "title": "ApiKeyInfo"
      },
      "BacktestEquityPoint": {
        "properties": {
          "ts": {
            "type": "string",
            "title": "Ts"
          },
          "equity": {
            "type": "string",
            "title": "Equity"
          },
          "cash": {
            "type": "string",
            "title": "Cash"
          },
          "position_value": {
            "type": "string",
            "title": "Position Value"
          }
        },
        "type": "object",
        "required": [
          "ts",
          "equity",
          "cash",
          "position_value"
        ],
        "title": "BacktestEquityPoint"
      },
      "BacktestEquityResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/BacktestEquityPoint"
            },
            "type": "array",
            "title": "Data"
          },
          "next_cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Cursor"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "BacktestEquityResponse"
      },
      "BacktestListResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/BacktestSummary"
            },
            "type": "array",
            "title": "Data"
          },
          "next_cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Cursor"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "BacktestListResponse"
      },
      "BacktestSummary": {
        "properties": {
          "job_id": {
            "type": "string",
            "title": "Job Id"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "running",
              "completed",
              "failed",
              "cancelled"
            ],
            "title": "Status"
          },
          "condition_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Condition Ids"
          },
          "start": {
            "type": "string",
            "title": "Start"
          },
          "end": {
            "type": "string",
            "title": "End"
          },
          "fill_model": {
            "type": "string",
            "enum": [
              "midpoint",
              "top_of_book",
              "depth_walk",
              "depth_walk_depletion"
            ],
            "title": "Fill Model"
          },
          "created_at": {
            "type": "string",
            "title": "Created At"
          },
          "started_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Started At"
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At"
          },
          "error_message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Message"
          },
          "initial_bankroll": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Initial Bankroll"
          },
          "total_pnl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Pnl"
          },
          "total_return_pct": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Return Pct"
          },
          "win_rate": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Win Rate"
          },
          "max_drawdown": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Drawdown"
          },
          "num_trades": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Num Trades"
          },
          "market_hours_charged": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Market Hours Charged"
          },
          "settlement_scored": {
            "type": "boolean",
            "title": "Settlement Scored",
            "default": false
          },
          "is_replay": {
            "type": "boolean",
            "title": "Is Replay",
            "default": false
          },
          "universe_eligible": {
            "type": "boolean",
            "title": "Universe Eligible",
            "default": false
          },
          "token_ids": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Token Ids"
          }
        },
        "type": "object",
        "required": [
          "job_id",
          "status",
          "condition_ids",
          "start",
          "end",
          "fill_model",
          "created_at"
        ],
        "title": "BacktestSummary",
        "examples": [
          {
            "condition_ids": [
              "0xabc123"
            ],
            "created_at": "2026-08-04T18:00:00Z",
            "end": "2026-08-04T19:00:00Z",
            "fill_model": "depth_walk",
            "is_replay": false,
            "job_id": "11111111-1111-1111-1111-111111111111",
            "start": "2026-08-04T18:00:00Z",
            "status": "completed",
            "token_ids": {
              "0xabc123": "tok_yes"
            },
            "universe_eligible": true
          }
        ]
      },
      "BacktestTradesResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/SimulatedTrade"
            },
            "type": "array",
            "title": "Data"
          },
          "next_cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next Cursor"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "BacktestTradesResponse"
      },
      "BalanceResponse": {
        "properties": {
          "balance": {
            "type": "string",
            "title": "Balance"
          },
          "currency": {
            "type": "string",
            "title": "Currency"
          },
          "unrealized_pnl": {
            "type": "string",
            "title": "Unrealized Pnl"
          },
          "total_value": {
            "type": "string",
            "title": "Total Value"
          },
          "starting_balance": {
            "type": "string",
            "title": "Starting Balance"
          }
        },
        "type": "object",
        "required": [
          "balance",
          "currency",
          "unrealized_pnl",
          "total_value",
          "starting_balance"
        ],
        "title": "BalanceResponse"
      },
      "BalanceSummary": {
        "properties": {
          "currency": {
            "type": "string",
            "title": "Currency",
            "default": "USD"
          },
          "ui_balance": {
            "type": "string",
            "title": "Ui Balance"
          },
          "api_balance": {
            "type": "string",
            "title": "Api Balance"
          },
          "starting_ui_balance": {
            "type": "string",
            "title": "Starting Ui Balance"
          },
          "starting_api_balance": {
            "type": "string",
            "title": "Starting Api Balance"
          },
          "ui_pnl": {
            "type": "string",
            "title": "Ui Pnl"
          },
          "api_pnl": {
            "type": "string",
            "title": "Api Pnl"
          },
          "ui_pnl_percentage": {
            "type": "string",
            "title": "Ui Pnl Percentage"
          },
          "api_pnl_percentage": {
            "type": "string",
            "title": "Api Pnl Percentage"
          },
          "total_portfolio_value": {
            "type": "string",
            "title": "Total Portfolio Value"
          },
          "unrealized_pnl": {
            "type": "string",
            "title": "Unrealized Pnl"
          },
          "realized_pnl": {
            "type": "string",
            "title": "Realized Pnl"
          }
        },
        "type": "object",
        "required": [
          "ui_balance",
          "api_balance",
          "starting_ui_balance",
          "starting_api_balance",
          "ui_pnl",
          "api_pnl",
          "ui_pnl_percentage",
          "api_pnl_percentage",
          "total_portfolio_value",
          "unrealized_pnl",
          "realized_pnl"
        ],
        "title": "BalanceSummary"
      },
      "BatchOrderRequest": {
        "properties": {
          "orders": {
            "items": {
              "$ref": "#/components/schemas/PlaceOrderRequest"
            },
            "type": "array",
            "maxItems": 100,
            "minItems": 1,
            "title": "Orders"
          }
        },
        "type": "object",
        "required": [
          "orders"
        ],
        "title": "BatchOrderRequest"
      },
      "BatchOrderResponse": {
        "properties": {
          "results": {
            "items": {
              "$ref": "#/components/schemas/OrderResponse"
            },
            "type": "array",
            "title": "Results"
          },
          "succeeded": {
            "type": "integer",
            "title": "Succeeded"
          },
          "failed": {
            "type": "integer",
            "title": "Failed"
          }
        },
        "type": "object",
        "required": [
          "results",
          "succeeded",
          "failed"
        ],
        "title": "BatchOrderResponse"
      },
      "BatchPriceItem": {
        "properties": {
          "condition_id": {
            "type": "string",
            "title": "Condition Id"
          },
          "buy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Buy"
          },
          "sell": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sell"
          },
          "outcomes": {
            "items": {
              "$ref": "#/components/schemas/OutcomePrice"
            },
            "type": "array",
            "title": "Outcomes",
            "default": []
          },
          "source": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source"
          }
        },
        "type": "object",
        "required": [
          "condition_id"
        ],
        "title": "BatchPriceItem"
      },
      "BatchPriceRequest": {
        "properties": {
          "market_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 50,
            "minItems": 1,
            "title": "Market Ids"
          }
        },
        "type": "object",
        "required": [
          "market_ids"
        ],
        "title": "BatchPriceRequest"
      },
      "BatchTokenIdsRequest": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/TokenIdRequest"
            },
            "type": "array",
            "title": "Items"
          }
        },
        "type": "object",
        "required": [
          "items"
        ],
        "title": "BatchTokenIdsRequest"
      },
      "BatchTokenPriceRequest": {
        "properties": {
          "token_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 500,
            "minItems": 1,
            "title": "Token Ids"
          }
        },
        "type": "object",
        "required": [
          "token_ids"
        ],
        "title": "BatchTokenPriceRequest"
      },
      "BookLevel": {
        "properties": {
          "price": {
            "type": "string",
            "title": "Price"
          },
          "size": {
            "type": "string",
            "title": "Size"
          }
        },
        "type": "object",
        "required": [
          "price",
          "size"
        ],
        "title": "BookLevel"
      },
      "BracketData": {
        "properties": {
          "rounds": {
            "items": {
              "$ref": "#/components/schemas/BracketRound"
            },
            "type": "array",
            "title": "Rounds"
          }
        },
        "type": "object",
        "required": [
          "rounds"
        ],
        "title": "BracketData"
      },
      "BracketMatch": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "roundName": {
            "type": "string",
            "title": "Roundname"
          },
          "home": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TeamRef"
              },
              {
                "type": "null"
              }
            ]
          },
          "away": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TeamRef"
              },
              {
                "type": "null"
              }
            ]
          },
          "homeScore": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Homescore"
          },
          "awayScore": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Awayscore"
          },
          "winner": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Winner"
          },
          "marketSlug": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Marketslug"
          },
          "homeWinProb": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Homewinprob"
          },
          "awayWinProb": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Awaywinprob"
          }
        },
        "type": "object",
        "required": [
          "id",
          "roundName"
        ],
        "title": "BracketMatch"
      },
      "BracketRound": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "matches": {
            "items": {
              "$ref": "#/components/schemas/BracketMatch"
            },
            "type": "array",
            "title": "Matches"
          }
        },
        "type": "object",
        "required": [
          "name",
          "matches"
        ],
        "title": "BracketRound"
      },
      "CancelOrdersResponse": {
        "properties": {
          "canceled": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Canceled"
          },
          "not_canceled": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Not Canceled"
          }
        },
        "type": "object",
        "title": "CancelOrdersResponse",
        "description": "Matches Polymarket's cancel response: ``{canceled, not_canceled}``."
      },
      "CandlePoint": {
        "properties": {
          "t": {
            "type": "integer",
            "title": "T"
          },
          "o": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "O"
          },
          "h": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "H"
          },
          "l": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "L"
          },
          "c": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "C"
          },
          "v": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "V"
          }
        },
        "type": "object",
        "required": [
          "t"
        ],
        "title": "CandlePoint",
        "description": "OHLCV candle.\n\n``t`` is the unix-second timestamp of the **start** of the bucket\n(e.g. for ``1h``, every ``t`` is a multiple of 3600). All four\nOHLC values are populated by aggregating Polymarket's tick stream\nover the bucket; if a bucket has only a single tick, O=H=L=C.\nVolume ``v`` is the sum of share-size traded on **our** internal\nmatching engine within the bucket \u2014 third-party CLOB volume is\nnot tracked."
      },
      "CategoryExposure": {
        "properties": {
          "category": {
            "type": "string",
            "title": "Category"
          },
          "position_count": {
            "type": "integer",
            "title": "Position Count"
          },
          "total_value": {
            "type": "string",
            "title": "Total Value"
          },
          "weight_percentage": {
            "type": "string",
            "title": "Weight Percentage"
          }
        },
        "type": "object",
        "required": [
          "category",
          "position_count",
          "total_value",
          "weight_percentage"
        ],
        "title": "CategoryExposure"
      },
      "CheckoutRequest": {
        "properties": {
          "plan": {
            "type": "string",
            "enum": [
              "pro",
              "pro_plus",
              "backtesting_starter",
              "backtesting_pro"
            ],
            "title": "Plan"
          },
          "billing": {
            "type": "string",
            "enum": [
              "monthly",
              "yearly"
            ],
            "title": "Billing"
          },
          "consent_acknowledged": {
            "type": "boolean",
            "title": "Consent Acknowledged",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "plan",
          "billing"
        ],
        "title": "CheckoutRequest"
      },
      "ClobOrderRequest": {
        "properties": {
          "token_id": {
            "type": "string",
            "title": "Token Id",
            "description": "CLOB token ID"
          },
          "side": {
            "type": "string",
            "enum": [
              "BUY",
              "SELL"
            ],
            "title": "Side"
          },
          "price": {
            "type": "string",
            "title": "Price",
            "description": "Limit price as decimal string (0.01-1.00)"
          },
          "quantity": {
            "type": "string",
            "title": "Quantity",
            "description": "Number of shares as decimal string"
          },
          "order_type": {
            "type": "string",
            "enum": [
              "GTC",
              "FOK",
              "IOC",
              "GTD"
            ],
            "title": "Order Type",
            "default": "GTC"
          },
          "fee_rate_bps": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Fee Rate Bps",
            "description": "Fee rate in basis points (ignored in virtual mode)"
          },
          "nonce": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Nonce",
            "description": "Optional nonce (ignored in virtual mode)"
          },
          "taker": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Taker",
            "description": "Optional taker address (ignored in virtual mode)"
          },
          "client_order_id": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 256
              },
              {
                "type": "null"
              }
            ],
            "title": "Client Order Id"
          },
          "expiration": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expiration",
            "description": "Unix-seconds expiration for order_type=GTD (PM convention). Honored while ORDER_SEMANTICS_PM_V2_ENABLED is rolling out; otherwise advisory (GTD routes through GTC)."
          },
          "post_only": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Post Only",
            "description": "PM's postOnly: reject (don't execute) when marketable at placement; GTC/GTD only. Rolling out behind ORDER_SEMANTICS_PM_V2_ENABLED; advisory until then.",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "token_id",
          "side",
          "price",
          "quantity"
        ],
        "title": "ClobOrderRequest",
        "description": "CLOB-compatible order request using token_id instead of condition_id.\n\nMirrors the real Polymarket CLOB API POST /order schema so clients\ncan switch to live trading with a single URL change."
      },
      "ClobOrderResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success",
            "default": true
          },
          "orderID": {
            "type": "string",
            "title": "Orderid"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "transactID": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Transactid"
          },
          "errorMsg": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Errormsg"
          },
          "price": {
            "type": "string",
            "title": "Price"
          },
          "size": {
            "type": "string",
            "title": "Size"
          },
          "side": {
            "type": "string",
            "title": "Side"
          },
          "takingAmount": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Takingamount"
          },
          "makingAmount": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Makingamount"
          }
        },
        "type": "object",
        "required": [
          "orderID",
          "status",
          "price",
          "size",
          "side"
        ],
        "title": "ClobOrderResponse",
        "description": "Response matching Polymarket CLOB order response shape."
      },
      "CommentaryItem": {
        "properties": {
          "minute": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Minute"
          },
          "text": {
            "type": "string",
            "title": "Text"
          },
          "type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Type"
          }
        },
        "type": "object",
        "required": [
          "text"
        ],
        "title": "CommentaryItem"
      },
      "CoverageHour": {
        "properties": {
          "hour": {
            "type": "string",
            "title": "Hour"
          },
          "verdict": {
            "type": "string",
            "enum": [
              "valid",
              "degraded",
              "missing",
              "quarantined",
              "partial"
            ],
            "title": "Verdict"
          },
          "bbo_confidence": {
            "type": "string",
            "enum": [
              "high",
              "medium",
              "low",
              "provisional"
            ],
            "title": "Bbo Confidence"
          }
        },
        "type": "object",
        "required": [
          "hour",
          "verdict",
          "bbo_confidence"
        ],
        "title": "CoverageHour"
      },
      "CoverageResponse": {
        "properties": {
          "condition_id": {
            "type": "string",
            "title": "Condition Id"
          },
          "hours_available": {
            "type": "integer",
            "title": "Hours Available"
          },
          "hours_degraded": {
            "type": "integer",
            "title": "Hours Degraded"
          },
          "hours_missing": {
            "type": "integer",
            "title": "Hours Missing"
          },
          "hours_quarantined": {
            "type": "integer",
            "title": "Hours Quarantined"
          },
          "bbo_confidence": {
            "type": "string",
            "enum": [
              "high",
              "medium",
              "low",
              "provisional"
            ],
            "title": "Bbo Confidence"
          },
          "book_snapshot_coverage_pct": {
            "type": "string",
            "title": "Book Snapshot Coverage Pct"
          },
          "settlement_known": {
            "type": "boolean",
            "title": "Settlement Known"
          },
          "settlement_source": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Settlement Source"
          },
          "universe_eligible": {
            "type": "boolean",
            "title": "Universe Eligible"
          },
          "min_coverage_pct": {
            "type": "string",
            "title": "Min Coverage Pct"
          },
          "hours": {
            "items": {
              "$ref": "#/components/schemas/CoverageHour"
            },
            "type": "array",
            "title": "Hours"
          },
          "leakage": {
            "$ref": "#/components/schemas/LeakageDisclosure"
          }
        },
        "type": "object",
        "required": [
          "condition_id",
          "hours_available",
          "hours_degraded",
          "hours_missing",
          "hours_quarantined",
          "bbo_confidence",
          "book_snapshot_coverage_pct",
          "settlement_known",
          "universe_eligible",
          "min_coverage_pct",
          "leakage"
        ],
        "title": "CoverageResponse",
        "examples": [
          {
            "bbo_confidence": "high",
            "book_snapshot_coverage_pct": "100.00",
            "condition_id": "0xabc123",
            "hours": [
              {
                "bbo_confidence": "high",
                "hour": "2026-08-04T18",
                "verdict": "valid"
              }
            ],
            "hours_available": 1,
            "hours_degraded": 0,
            "hours_missing": 0,
            "hours_quarantined": 0,
            "leakage": {
              "book_depth_available": true,
              "data_source": "archive",
              "fee_model": "polymarket_v2_taker",
              "fill_model": "n/a",
              "missing_periods": []
            },
            "min_coverage_pct": "80.00",
            "settlement_known": true,
            "settlement_source": "ctf",
            "universe_eligible": true
          }
        ]
      },
      "CreateBacktestRequest": {
        "properties": {
          "condition_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 100,
            "minItems": 1,
            "title": "Condition Ids"
          },
          "start": {
            "type": "string",
            "title": "Start"
          },
          "end": {
            "type": "string",
            "title": "End"
          },
          "strategy": {
            "$ref": "#/components/schemas/StrategySpec"
          },
          "initial_bankroll": {
            "type": "string",
            "title": "Initial Bankroll",
            "default": "1000"
          },
          "token_ids": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Token Ids",
            "description": "Optional explicit condition_id \u2192 token_id map. When omitted, the job resolves tokens from strategy.outcome and archive metadata."
          }
        },
        "type": "object",
        "required": [
          "condition_ids",
          "start",
          "end",
          "strategy"
        ],
        "title": "CreateBacktestRequest",
        "examples": [
          {
            "condition_ids": [
              "0xabc123"
            ],
            "end": "2026-08-04T19:00:00Z",
            "initial_bankroll": "1000",
            "start": "2026-08-04T18:00:00Z",
            "strategy": {
              "entry": [
                {
                  "field": "price",
                  "op": "lte",
                  "value": "0.40"
                }
              ],
              "exit": [
                {
                  "field": "price",
                  "op": "gte",
                  "value": "0.60"
                }
              ],
              "fill_model": "depth_walk",
              "outcome": "Yes",
              "side": "BUY",
              "size": "10",
              "spec_version": "1"
            },
            "token_ids": {
              "0xabc123": "tok_yes"
            }
          }
        ]
      },
      "CreateExportRequest": {
        "properties": {
          "condition_id": {
            "type": "string",
            "title": "Condition Id"
          },
          "start": {
            "type": "string",
            "title": "Start"
          },
          "end": {
            "type": "string",
            "title": "End"
          },
          "format": {
            "type": "string",
            "const": "parquet",
            "title": "Format",
            "default": "parquet"
          }
        },
        "type": "object",
        "required": [
          "condition_id",
          "start",
          "end"
        ],
        "title": "CreateExportRequest",
        "examples": [
          {
            "condition_id": "0xabc123",
            "end": "2026-08-04T19:00:00Z",
            "format": "parquet",
            "start": "2026-08-04T18:00:00Z"
          }
        ]
      },
      "CreateExportResponse": {
        "properties": {
          "url": {
            "type": "string",
            "title": "Url"
          },
          "expires_in": {
            "type": "integer",
            "title": "Expires In"
          },
          "format": {
            "type": "string",
            "title": "Format"
          }
        },
        "type": "object",
        "required": [
          "url",
          "expires_in",
          "format"
        ],
        "title": "CreateExportResponse",
        "examples": [
          {
            "expires_in": 3600,
            "format": "parquet",
            "url": "https://r2.example/export.parquet?X-Amz-Signature=demo"
          }
        ]
      },
      "CreateKeyRequest": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 100
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Human-readable label"
          },
          "tier": {
            "type": "string",
            "title": "Tier",
            "description": "Rate limit tier: free, pro, enterprise",
            "default": "free"
          },
          "permissions": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Permissions",
            "description": "Permissions: read, trade, admin"
          }
        },
        "type": "object",
        "title": "CreateKeyRequest"
      },
      "CreateKeyResponse": {
        "properties": {
          "id": {
            "type": "integer",
            "title": "Id"
          },
          "raw_key": {
            "type": "string",
            "title": "Raw Key"
          },
          "key_prefix": {
            "type": "string",
            "title": "Key Prefix"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "rate_limit_tier": {
            "type": "string",
            "title": "Rate Limit Tier"
          },
          "permissions": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Permissions"
          },
          "created_at": {
            "type": "string",
            "title": "Created At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "raw_key",
          "key_prefix",
          "rate_limit_tier",
          "permissions",
          "created_at"
        ],
        "title": "CreateKeyResponse",
        "description": "Returned once on creation \u2014 the raw key is NOT stored."
      },
      "DayCell": {
        "properties": {
          "date": {
            "type": "string",
            "title": "Date"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "summary": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Summary"
          },
          "impacted_hours": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Impacted Hours"
          },
          "measured_hours": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Measured Hours"
          }
        },
        "type": "object",
        "required": [
          "date",
          "status"
        ],
        "title": "DayCell"
      },
      "DiscordLinkRequest": {
        "properties": {
          "url": {
            "type": "string",
            "maxLength": 2048,
            "minLength": 1,
            "title": "Url"
          },
          "label": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 120
              },
              {
                "type": "null"
              }
            ],
            "title": "Label"
          }
        },
        "type": "object",
        "required": [
          "url"
        ],
        "title": "DiscordLinkRequest"
      },
      "EquityPoint": {
        "properties": {
          "timestamp": {
            "type": "string",
            "title": "Timestamp"
          },
          "cash_balance": {
            "type": "string",
            "title": "Cash Balance"
          },
          "position_value": {
            "type": "string",
            "title": "Position Value"
          },
          "total_value": {
            "type": "string",
            "title": "Total Value"
          },
          "pnl": {
            "type": "string",
            "title": "Pnl"
          }
        },
        "type": "object",
        "required": [
          "timestamp",
          "cash_balance",
          "position_value",
          "total_value",
          "pnl"
        ],
        "title": "EquityPoint"
      },
      "EquityTimelineSummary": {
        "properties": {
          "return_7d": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Return 7D"
          },
          "return_30d": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Return 30D"
          },
          "return_all_time": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Return All Time"
          },
          "peak_value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Peak Value"
          },
          "peak_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Peak Date"
          },
          "trough_value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Trough Value"
          },
          "trough_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Trough Date"
          },
          "current_value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Current Value"
          },
          "snapshots_available": {
            "type": "integer",
            "title": "Snapshots Available",
            "default": 0
          },
          "latest_snapshot_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latest Snapshot At"
          }
        },
        "type": "object",
        "title": "EquityTimelineSummary"
      },
      "EventsListResponse": {
        "properties": {
          "events": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Events",
            "description": "Events on this page (one dict per parent event, with capped child markets)."
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Total event count matching the filter (across all pages)."
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Echo of the requested ``limit``."
          },
          "offset": {
            "type": "integer",
            "title": "Offset",
            "description": "Echo of the requested ``offset``."
          },
          "cache_source": {
            "type": "string",
            "title": "Cache Source",
            "description": "Internal cache tier (e.g. ``homepage_prebuilt``, ``redisearch_all``, ``empty``)."
          },
          "has_sports": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Has Sports",
            "description": "True when sports events were filtered out (``include_sports=false`` path)."
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Message",
            "description": "Set on 503 (cache warming) and other operational states; absent on success."
          }
        },
        "type": "object",
        "required": [
          "events",
          "total",
          "limit",
          "offset",
          "cache_source"
        ],
        "title": "EventsListResponse",
        "description": "Envelope returned by ``GET /v1/events``.\n\nPer-event payloads are typed as ``Dict[str, Any]`` deliberately: the\nlegacy ``app.main.list_events`` returns a heterogeneous event dict\nwhose fields evolve with the poller (markets, enriched prices,\nclassified category, weather_category, ...). Modelling the envelope\nalone is enough to move the OpenAPI output off ``\"schema\": {}``;\nSDK consumers consult the docs for per-event fields."
      },
      "FillModelInfo": {
        "properties": {
          "id": {
            "type": "string",
            "enum": [
              "midpoint",
              "top_of_book",
              "depth_walk",
              "depth_walk_depletion"
            ],
            "title": "Id"
          },
          "label": {
            "type": "string",
            "title": "Label"
          },
          "realistic": {
            "type": "boolean",
            "title": "Realistic"
          },
          "free": {
            "type": "boolean",
            "title": "Free"
          },
          "description": {
            "type": "string",
            "title": "Description"
          }
        },
        "type": "object",
        "required": [
          "id",
          "label",
          "realistic",
          "free",
          "description"
        ],
        "title": "FillModelInfo"
      },
      "FillModelsResponse": {
        "properties": {
          "models": {
            "items": {
              "$ref": "#/components/schemas/FillModelInfo"
            },
            "type": "array",
            "title": "Models"
          }
        },
        "type": "object",
        "required": [
          "models"
        ],
        "title": "FillModelsResponse",
        "examples": [
          {
            "models": [
              {
                "description": "Complement-aware VWAP across reconstructed depth.",
                "free": true,
                "id": "depth_walk",
                "label": "Depth walk",
                "realistic": true
              }
            ]
          }
        ]
      },
      "Fixture": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "competition": {
            "type": "string",
            "title": "Competition"
          },
          "competitionId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Competitionid"
          },
          "group": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Group"
          },
          "kickoffUtc": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Kickoffutc"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "minute": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Minute"
          },
          "home": {
            "$ref": "#/components/schemas/TeamRef"
          },
          "away": {
            "$ref": "#/components/schemas/TeamRef"
          },
          "homeScore": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Homescore"
          },
          "awayScore": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Awayscore"
          }
        },
        "type": "object",
        "required": [
          "id",
          "competition",
          "status",
          "home",
          "away"
        ],
        "title": "Fixture"
      },
      "GroupStanding": {
        "properties": {
          "group": {
            "type": "string",
            "title": "Group"
          },
          "rows": {
            "items": {
              "$ref": "#/components/schemas/StandingRow"
            },
            "type": "array",
            "title": "Rows"
          }
        },
        "type": "object",
        "required": [
          "group",
          "rows"
        ],
        "title": "GroupStanding"
      },
      "H2HMeeting": {
        "properties": {
          "date": {
            "type": "string",
            "title": "Date"
          },
          "competition": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Competition"
          },
          "homeName": {
            "type": "string",
            "title": "Homename"
          },
          "awayName": {
            "type": "string",
            "title": "Awayname"
          },
          "homeScore": {
            "type": "integer",
            "title": "Homescore"
          },
          "awayScore": {
            "type": "integer",
            "title": "Awayscore"
          }
        },
        "type": "object",
        "required": [
          "date",
          "homeName",
          "awayName",
          "homeScore",
          "awayScore"
        ],
        "title": "H2HMeeting"
      },
      "H2HSummary": {
        "properties": {
          "homeWins": {
            "type": "integer",
            "title": "Homewins"
          },
          "draws": {
            "type": "integer",
            "title": "Draws"
          },
          "awayWins": {
            "type": "integer",
            "title": "Awaywins"
          },
          "meetings": {
            "items": {
              "$ref": "#/components/schemas/H2HMeeting"
            },
            "type": "array",
            "title": "Meetings"
          }
        },
        "type": "object",
        "required": [
          "homeWins",
          "draws",
          "awayWins",
          "meetings"
        ],
        "title": "H2HSummary"
      },
      "HealthResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status"
          },
          "timestamp": {
            "type": "string",
            "title": "Timestamp"
          },
          "version": {
            "type": "string",
            "title": "Version",
            "default": "1.0.0-beta"
          }
        },
        "type": "object",
        "required": [
          "status",
          "timestamp"
        ],
        "title": "HealthResponse"
      },
      "HeartbeatRequest": {
        "properties": {
          "interval_ms": {
            "type": "integer",
            "maximum": 60000.0,
            "minimum": 1000.0,
            "title": "Interval Ms"
          },
          "client_label": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 64
              },
              {
                "type": "null"
              }
            ],
            "title": "Client Label"
          }
        },
        "type": "object",
        "required": [
          "interval_ms"
        ],
        "title": "HeartbeatRequest",
        "description": "Heartbeat registration / refresh.\n\n``interval_ms``: how long the server should wait between heartbeats\nbefore declaring the bot dead and cancelling its orders. Bounded\n``[1000, 60000]``. The bot is expected to ping at ``interval_ms / 2``\nor so to stay ahead of expiry.\n\n``client_label``: optional free-form label so a single API key can\nregister multiple heartbeats from different bot processes. Defaults\nto ``\"\"`` (single-stream). Bots that don't multiplex can ignore."
      },
      "HeartbeatResponse": {
        "properties": {
          "ok": {
            "type": "boolean",
            "title": "Ok",
            "default": true
          },
          "expires_at_ms": {
            "type": "integer",
            "title": "Expires At Ms"
          }
        },
        "type": "object",
        "required": [
          "expires_at_ms"
        ],
        "title": "HeartbeatResponse"
      },
      "HomeAwayFloat": {
        "properties": {
          "home": {
            "type": "number",
            "title": "Home"
          },
          "away": {
            "type": "number",
            "title": "Away"
          }
        },
        "type": "object",
        "required": [
          "home",
          "away"
        ],
        "title": "HomeAwayFloat"
      },
      "LeakageDisclosure": {
        "properties": {
          "data_source": {
            "type": "string",
            "title": "Data Source"
          },
          "missing_periods": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Missing Periods"
          },
          "fill_model": {
            "type": "string",
            "title": "Fill Model"
          },
          "fee_model": {
            "type": "string",
            "title": "Fee Model"
          },
          "book_depth_available": {
            "type": "boolean",
            "title": "Book Depth Available"
          },
          "signals_used_pre_decision_data_only": {
            "type": "boolean",
            "title": "Signals Used Pre Decision Data Only",
            "default": true
          },
          "slippage_model": {
            "type": "string",
            "title": "Slippage Model",
            "default": "none"
          }
        },
        "type": "object",
        "required": [
          "data_source",
          "fill_model",
          "fee_model",
          "book_depth_available"
        ],
        "title": "LeakageDisclosure"
      },
      "LineupSide": {
        "properties": {
          "formation": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Formation"
          },
          "players": {
            "items": {
              "$ref": "#/components/schemas/PlayerLineupEntry"
            },
            "type": "array",
            "title": "Players"
          }
        },
        "type": "object",
        "title": "LineupSide"
      },
      "Lineups": {
        "properties": {
          "home": {
            "$ref": "#/components/schemas/LineupSide"
          },
          "away": {
            "$ref": "#/components/schemas/LineupSide"
          }
        },
        "type": "object",
        "required": [
          "home",
          "away"
        ],
        "title": "Lineups"
      },
      "LivePrice": {
        "properties": {
          "buy": {
            "type": "string",
            "title": "Buy"
          },
          "sell": {
            "type": "string",
            "title": "Sell"
          },
          "volume": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Volume",
            "description": "Headline volume the upstream feed sent with this quote (USD, stringified). **The time window is not guaranteed** \u2014 it is usually all-time but can be a 24-hour figure when no cumulative one was reported. When the window matters, read ``volume_24h`` or ``volume_total`` on the market instead; those two are each sourced from one field and one only."
          },
          "updated_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated At"
          },
          "source": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source"
          },
          "outcomes": {
            "items": {
              "$ref": "#/components/schemas/OutcomePrice"
            },
            "type": "array",
            "title": "Outcomes",
            "default": []
          },
          "synced_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Synced At"
          }
        },
        "type": "object",
        "required": [
          "buy",
          "sell"
        ],
        "title": "LivePrice"
      },
      "LivenessResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status"
          },
          "timestamp": {
            "type": "string",
            "title": "Timestamp"
          },
          "version": {
            "type": "string",
            "title": "Version",
            "default": "1.0.0-beta"
          }
        },
        "type": "object",
        "required": [
          "status",
          "timestamp"
        ],
        "title": "LivenessResponse",
        "description": "Response for ``/v1/health/live``.\n\nDeliberately distinct from ``HealthResponse`` so monitoring tools\ncan pin on ``status == \"alive\"`` (intent-revealing) without having\nto also accept the existing ``\"ok\"`` value used by ``/v1/health``.\nNo nested checks \u2014 the probe never touches DB or Redis."
      },
      "MarketByTokenResponse": {
        "properties": {
          "condition_id": {
            "type": "string",
            "title": "Condition Id"
          },
          "primary_token_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Primary Token Id"
          },
          "secondary_token_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Secondary Token Id"
          },
          "outcome": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Outcome"
          }
        },
        "type": "object",
        "required": [
          "condition_id"
        ],
        "title": "MarketByTokenResponse"
      },
      "MarketDetail": {
        "properties": {
          "condition_id": {
            "type": "string",
            "title": "Condition Id"
          },
          "slug": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Slug"
          },
          "question": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Question"
          },
          "outcomes": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Outcomes"
          },
          "active": {
            "type": "boolean",
            "title": "Active",
            "default": true
          },
          "closed": {
            "type": "boolean",
            "title": "Closed",
            "default": false
          },
          "is_hot": {
            "type": "boolean",
            "title": "Is Hot",
            "default": false
          },
          "image_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Image Url"
          },
          "category": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Category"
          },
          "display_label": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Display Label",
            "description": "What this market is called inside its event group (e.g. ``\"Bernadette Wilson\"`` for \"Will Bernadette Wilson win the 2026 Alaska governor election?\"). ``null`` when the market sync has not computed one yet \u2014 fall back to ``question``."
          },
          "clob_token_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Clob Token Ids",
            "description": "CLOB token ids for this market's outcomes (``[yes_id, no_id]``). Pass to ``/v1/clob/book/{token_id}`` to fetch the L2 order book. May be ``null`` for archived markets with no tracked outcomes."
          },
          "volume_24h": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Volume 24H",
            "description": "Rolling 24-hour volume in USD \u2014 the volume traded on this market over the trailing 24 hours, and nothing else. Stringified for floating-point precision safety. ``null`` when no 24-hour figure has been reported for this market yet \u2014 distinct from ``\"0\"``, which means the market traded zero volume in the last 24 hours. For the all-time figure use ``volume_total``."
          },
          "volume_total": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Volume Total",
            "description": "Cumulative all-time volume in USD for this market, since it opened. Stringified for floating-point precision safety. ``null`` when no cumulative figure has been reported yet \u2014 distinct from ``\"0\"``, which means the market has never traded. This is a much larger number than ``volume_24h`` for any market older than a day."
          },
          "last_price": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Price",
            "description": "Last trade price for the YES token (0.0\u20131.0 implied probability). Stringified for precision. ``null`` when untracked; for the real-time top-of-book bid/ask use ``live_price.buy`` / ``live_price.sell``."
          },
          "live_price": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/LivePrice"
              },
              {
                "type": "null"
              }
            ]
          },
          "event_group_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Event Group Id"
          },
          "event_title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Event Title"
          },
          "end_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "End Date"
          },
          "resolved_outcome": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Resolved Outcome"
          },
          "archived": {
            "type": "boolean",
            "title": "Archived",
            "default": false
          },
          "archived_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Archived At"
          },
          "tokens": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/MarketToken"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tokens",
            "description": "PM-shape per-outcome token list. Each entry carries ``{token_id, outcome, price, winner}`` \u2014 the documented Polymarket contract that ``py-clob-client`` reads. ``price`` is the YES/NO probability at response-build time; ``winner`` is ``True`` only when the market is resolved AND this outcome is the settled winner (NEVER derived from ``price >= 0.99``). For the legacy CLOB asset-id string list use ``clob_token_ids``."
          },
          "question_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Question Id",
            "description": "PM-shape: alias of ``condition_id`` (the on-chain market identifier). PM SDKs read this key by name; we surface the same value under both keys for cross-SDK compatibility."
          },
          "market_slug": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Market Slug",
            "description": "PM-shape: alias of ``slug``. PM SDKs use ``market_slug``; polysim has historically used ``slug``. Both are exposed with the same value so SDKs that branch on either key work."
          },
          "neg_risk": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Neg Risk",
            "description": "PM-shape: negative-risk routing flag. ``true`` when the market is part of a negative-risk auction (single-winner across many outcomes); ``false`` for standard binary. ``null`` if not classified \u2014 treat as ``false``."
          }
        },
        "type": "object",
        "required": [
          "condition_id"
        ],
        "title": "MarketDetail"
      },
      "MarketSummary": {
        "properties": {
          "condition_id": {
            "type": "string",
            "title": "Condition Id"
          },
          "slug": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Slug"
          },
          "question": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Question"
          },
          "outcomes": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Outcomes"
          },
          "active": {
            "type": "boolean",
            "title": "Active",
            "default": true
          },
          "closed": {
            "type": "boolean",
            "title": "Closed",
            "default": false
          },
          "is_hot": {
            "type": "boolean",
            "title": "Is Hot",
            "default": false
          },
          "image_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Image Url"
          },
          "category": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Category"
          },
          "display_label": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Display Label",
            "description": "What this market is called inside its event group (e.g. ``\"Bernadette Wilson\"`` for \"Will Bernadette Wilson win the 2026 Alaska governor election?\"). ``null`` when the market sync has not computed one yet \u2014 fall back to ``question``."
          },
          "clob_token_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Clob Token Ids",
            "description": "CLOB token ids for this market's outcomes (``[yes_id, no_id]``). Pass to ``/v1/clob/book/{token_id}`` to fetch the L2 order book. May be ``null`` for archived markets with no tracked outcomes."
          },
          "volume_24h": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Volume 24H",
            "description": "Rolling 24-hour volume in USD \u2014 the volume traded on this market over the trailing 24 hours, and nothing else. Stringified for floating-point precision safety. ``null`` when no 24-hour figure has been reported for this market yet \u2014 distinct from ``\"0\"``, which means the market traded zero volume in the last 24 hours. For the all-time figure use ``volume_total``."
          },
          "volume_total": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Volume Total",
            "description": "Cumulative all-time volume in USD for this market, since it opened. Stringified for floating-point precision safety. ``null`` when no cumulative figure has been reported yet \u2014 distinct from ``\"0\"``, which means the market has never traded. This is a much larger number than ``volume_24h`` for any market older than a day."
          },
          "last_price": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Price",
            "description": "Last trade price for the YES token (0.0\u20131.0 implied probability). Stringified for precision. ``null`` when untracked; for the real-time top-of-book bid/ask use ``live_price.buy`` / ``live_price.sell``."
          },
          "live_price": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/LivePrice"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "condition_id"
        ],
        "title": "MarketSummary",
        "description": "Tolerant of NULL bool flags from the DB.\n\nMarkets backfilled by older sync paths (or via the markets-by-slug\narchive fallback) can have ``is_hot=NULL``, ``active=NULL``, or\n``closed=NULL``. Pydantic 2 rejects ``None`` for ``bool`` fields by\ndefault, which 500'd ``GET /v1/markets`` for any list that included\na NULL-flag row. Each field uses a ``before`` validator that coerces\nNone \u2192 its documented default."
      },
      "MarketToken": {
        "properties": {
          "token_id": {
            "type": "string",
            "title": "Token Id"
          },
          "outcome": {
            "type": "string",
            "title": "Outcome"
          },
          "price": {
            "type": "number",
            "title": "Price",
            "default": 0.0
          },
          "winner": {
            "type": "boolean",
            "title": "Winner",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "token_id",
          "outcome",
          "price",
          "winner"
        ],
        "title": "MarketToken",
        "description": "Polymarket-shape per-outcome token entry on ``MarketDetail``.\n\nComposed from ``live_price.outcomes[]`` + ``Market.clob_token_ids[]`` +\n``Market.outcomes[]``. ``price`` is the YES/NO probability for that\noutcome at the moment the response was assembled; ``winner`` is\n``True`` only when the market is resolved AND this outcome is the\nsettled winner (NEVER derived from ``price >= 0.99``).\n\nThe PM ``py-clob-client`` SDK reads ``market.tokens[i].outcome`` to\nlabel the YES/NO sides of a market when rendering bot output. A\n``List[str]`` payload (legacy polysim shape) breaks the SDK on the\nfirst detail call; this shape is the documented PM contract.\n\n`price` and `winner` are emitted on every token (server-side defaults\nof 0.0 / False are applied) so SDK clients can rely on their presence\nrather than dealing with `Optional[float]` / `Optional[bool]`."
      },
      "MarketsEnvelope": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/MarketSummary"
            },
            "type": "array",
            "title": "Data",
            "description": "Markets on this page (same shape as the bare-array response)."
          },
          "next_cursor": {
            "type": "string",
            "title": "Next Cursor",
            "description": "PM-format pagination cursor: base64-encoded offset of the next page (e.g. ``\"NTA=\"`` = 50), or the terminal sentinel ``\"LTE=\"`` when there are no more pages. Pass it back as the ``next_cursor`` query param."
          }
        },
        "type": "object",
        "required": [
          "data",
          "next_cursor"
        ],
        "title": "MarketsEnvelope",
        "description": "PM-shape envelope for ``GET /v1/markets?envelope=true``.\n\n``py-clob-client`` (and forks like ``clob-rust``) expect a\n``{data, next_cursor}`` envelope on the markets-list endpoint, while\nthe bare-array response would break those SDKs at parse time.\n\nTo avoid breaking existing consumers that DO depend on the bare\narray (the polysim frontend + first-party SDK), the envelope is\nopt-in via the ``envelope=true`` query parameter; the bare-array\npath remains the default to preserve back-compat.\n\n``next_cursor`` is PM's exact cursor format \u2014 a BASE64-ENCODED\nOFFSET (e.g. ``\"NTA=\"`` = offset 50; live PM /markets emits\n``\"MTAwMA==\"`` = 1000) with the terminal ``\"LTE=\"`` sentinel\n(base64 of -1) on the last page. Pass it back via the\n``next_cursor`` (or ``cursor``) query param \u2014 exactly what\nPM-ported paginators do. Pre-fix the field was a raw int string\nthat NO query param accepted (both ``?cursor=`` and\n``?next_cursor=`` were silently ignored \u2014 paginators looped on\npage 1 forever); raw int strings are still accepted on the way in\nfor back-compat."
      },
      "MatchDetail": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "competition": {
            "type": "string",
            "title": "Competition"
          },
          "competitionId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Competitionid"
          },
          "group": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Group"
          },
          "kickoffUtc": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Kickoffutc"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "minute": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Minute"
          },
          "home": {
            "$ref": "#/components/schemas/TeamRef"
          },
          "away": {
            "$ref": "#/components/schemas/TeamRef"
          },
          "homeScore": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Homescore"
          },
          "awayScore": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Awayscore"
          },
          "venue": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Venue"
          },
          "weatherC": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Weatherc"
          },
          "possession": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/HomeAwayFloat"
              },
              {
                "type": "null"
              }
            ]
          },
          "xg": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/HomeAwayFloat"
              },
              {
                "type": "null"
              }
            ]
          },
          "momentum": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/MomentumPoint"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Momentum"
          },
          "commentary": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/CommentaryItem"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Commentary"
          },
          "lineups": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Lineups"
              },
              {
                "type": "null"
              }
            ]
          },
          "topStats": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/StatRowKV"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Topstats"
          },
          "shots": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/Shot"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Shots"
          },
          "formHome": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Formhome"
          },
          "formAway": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Formaway"
          }
        },
        "type": "object",
        "required": [
          "id",
          "competition",
          "status",
          "home",
          "away"
        ],
        "title": "MatchDetail"
      },
      "MomentumPoint": {
        "properties": {
          "minute": {
            "type": "integer",
            "title": "Minute"
          },
          "value": {
            "type": "number",
            "title": "Value"
          }
        },
        "type": "object",
        "required": [
          "minute",
          "value"
        ],
        "title": "MomentumPoint"
      },
      "NegRiskResponse": {
        "properties": {
          "neg_risk": {
            "type": "boolean",
            "title": "Neg Risk"
          }
        },
        "type": "object",
        "required": [
          "neg_risk"
        ],
        "title": "NegRiskResponse"
      },
      "OrderAck": {
        "properties": {
          "order_id": {
            "type": "integer",
            "title": "Order Id"
          },
          "client_order_id": {
            "type": "string",
            "title": "Client Order Id"
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Always 'accepted' on success",
            "default": "accepted"
          },
          "order_type": {
            "type": "string",
            "title": "Order Type"
          },
          "side": {
            "type": "string",
            "title": "Side"
          },
          "outcome": {
            "type": "string",
            "title": "Outcome"
          },
          "market_id": {
            "type": "string",
            "title": "Market Id"
          },
          "price_requested": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Price Requested",
            "description": "Requested worst-price as decimal string; null for market orders without a worst-price"
          },
          "quantity_requested": {
            "type": "string",
            "title": "Quantity Requested",
            "description": "Requested quantity as decimal string"
          },
          "accepted_at": {
            "type": "string",
            "title": "Accepted At"
          },
          "is_replay": {
            "type": "boolean",
            "title": "Is Replay",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "order_id",
          "client_order_id",
          "order_type",
          "side",
          "outcome",
          "market_id",
          "quantity_requested",
          "accepted_at"
        ],
        "title": "OrderAck",
        "description": "Response body for the V2 ack path.\n\nIntentionally minimal \u2014 fill data lives on the eventually-\nreconciled order, not in the ack. Clients poll\n``GET /v1/orders/{order_id}`` for the post-reconcile fields\n(price, fee, position).\n\nDecimal fields are JSON strings (not floats) to match the rest of\nthe API surface and avoid IEEE-754 ambiguity on the wire \u2014\nPolymarket-CLOB-port bots already expect the string convention."
      },
      "OrderBookSnapshot": {
        "properties": {
          "token_id": {
            "type": "string",
            "title": "Token Id"
          },
          "bids": {
            "items": {
              "$ref": "#/components/schemas/BookLevel"
            },
            "type": "array",
            "title": "Bids",
            "default": []
          },
          "asks": {
            "items": {
              "$ref": "#/components/schemas/BookLevel"
            },
            "type": "array",
            "title": "Asks",
            "default": []
          },
          "timestamp": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Timestamp"
          },
          "market": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Market"
          },
          "asset_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Asset Id"
          },
          "hash": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Hash"
          },
          "min_order_size": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Min Order Size"
          },
          "tick_size": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tick Size"
          },
          "neg_risk": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Neg Risk"
          },
          "last_trade_price": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Trade Price"
          },
          "spread": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Spread"
          },
          "mid": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Mid"
          },
          "stale": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stale"
          }
        },
        "type": "object",
        "required": [
          "token_id"
        ],
        "title": "OrderBookSnapshot",
        "description": "Polymarket-compat ``OrderBookSummary``.\n\nThe PM-CLOB ``GET /book`` response carries metadata fields\n(``market``, ``asset_id``, ``hash``, ``timestamp``,\n``min_order_size``, ``tick_size``, ``neg_risk``,\n``last_trade_price``) that SDK consumers ported from Polymarket\nclients depend on \u2014 particularly ``tick_size`` for client-side\nprice quantization and ``neg_risk`` for routing through the\ncorrect contract. Pre-this-PR the response was a Polysimulator\nminimum (``token_id``, ``bids``, ``asks``, ``spread``, ``mid``)\nthat would silently break PM-ported SDKs at parse time.\n\nThe legacy fields (``spread``, ``mid``) are kept for back-compat\nwith existing Polysimulator SDK consumers who relied on them.\nPolymarket's actual ``/book`` doesn't return either; they're\nPolysimulator extensions and documented as such."
      },
      "OrderResponse": {
        "properties": {
          "order_id": {
            "type": "integer",
            "title": "Order Id"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "order_type": {
            "type": "string",
            "title": "Order Type"
          },
          "side": {
            "type": "string",
            "title": "Side"
          },
          "outcome": {
            "type": "string",
            "title": "Outcome"
          },
          "price": {
            "type": "string",
            "title": "Price"
          },
          "quantity": {
            "type": "string",
            "title": "Quantity"
          },
          "notional": {
            "type": "string",
            "title": "Notional"
          },
          "fee": {
            "type": "string",
            "title": "Fee"
          },
          "filled_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Filled At"
          },
          "cancelled_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cancelled Reason"
          },
          "price_source": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Price Source"
          },
          "slippage_bps": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Slippage Bps"
          },
          "quote_age_ms": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Quote Age Ms"
          },
          "spread_bps": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Spread Bps"
          },
          "impact_bps": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Impact Bps"
          },
          "book_walk_levels": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Book Walk Levels"
          },
          "account_balance": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Balance"
          },
          "position": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
[...]
